{% extends 'layouts/main.html' %}

{% block content %}
    <style>
        .product {
            width: 70%;
            margin-left: 15%;
        }
        .reviews {
            width: 70%;
            margin-left: 15%;
        }
        .review {
            background: #242b2e;
            color: #fff;
            margin-bottom: 20px;
        }
        .info {
            margin-left: 25%;
        }
    </style>
    <div class="product">
        <div class="categories">
            {% for category in categories %}
                <p style="width: 18rem;">{{ category.title }}</p>
            {% endfor %}
        </div>
        <div class="info">
             <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="/media/{{ product.image }}/" alt="">
             </div>
            <div style="display: flex; justify-content: space-between">
                <h1>{{ product.title }}</h1>
            </div>
            <h1>Цена: {{ product.price }}</h1>
            <h2>Описание:</h2>
            <h4>{{ product.description }}</h4>
            <h2>Характеристики:</h2>
            <h4>{{ product.characteristics }}</h4>
        </div>
        <div class="create_review">
            <form action="/products/{{ product.id }}/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn btn-primary" value="Оставить комментарий">
            </form>
        </div>
    </div>
    <div class="reviews">
        {% for review in reviews %}
            <div class="review">
                <h3> {{ review.author.username }}</h3>
                <p class="text">{{ review.text }}<br>{{ review.rate }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}