{% extends 'layouts/main.html' %}

{% block content %}
    <style>
        .product {
            width: 70%;
            margin-left: 15%;
        }
        .reviews {
            width: 70%;
            margin-left: 15%;
        }
        .review {
            background: #242b2e;
            color: #fff;
            margin-bottom: 20px;
        }
        .img {
            width: 100%;
            margin-left: 40%;
        }
    </style>
    <div class="product">
        <div class="categories">
            {% for category in categories %}
                <p>{{ category.title }}</p>
            {% endfor %}
        </div>
        <div class="img">
            <img src="/media/{{ product.image }}/" alt="">
        </div>
        <div class="info">
            <div style="display: flex; justify-content: space-between">
                <h1>{{ product.title }}</h1>
            </div>
            <h1>Цена: {{ product.price }}</h1>
            <h2>Описание:</h2>
            <h4>{{ product.description }}</h4>
            <h2>Характеристики:</h2>
            <h4>{{ product.characteristics }}</h4>
        </div>
    </div>
    <div class="reviews">
        {% for review in reviews %}
            <div class="review">
                <h3> {{ review.author.username }}</h3>
                <p class="text">{{ review.text }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}