{% extends 'layouts/main.html' %}

{% block content %}
    <style type="text/css">
    .categories {
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        width: 80%;
        flex-wrap: wrap;
    }
    .img {
        width: 100%;
    }
    </style>
    <div class="categories">
    {% for category in categories %}
        <div class="card" style="width: 20%;">
            <div class="card_body">
                <div class="img">
                    <img src="/media/{{ category.image }}/" alt="">
                </div>
                <h5>
                    <a href="/products/?category_id={{ category.id }}" class="btn btn-primary">
                        {{ category.title }}
                    </a>
                </h5>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}